:host {
    position: relative;
    display: flex;
    padding: 24px;
}

.produtos-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #a7a7a7;

    & h2 {
        font-size: 1.400rem;
        font-weight: 500;
    }
}