<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items; track $index) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>
            <button mat-raised-button color="primary" (click)="navegarParaDetalhe(item.id)">
              Ir para detalhe
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
