:host {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#form-login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    gap: 12px;

    & h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }
}