.test-table {
    position: relative;
    border: 1px solid #ccc;
    margin: 24px 12px;
    & tbody {
        & tr {
            border-bottom: 1px solid #8d8d8d;

            & td {
                padding: 8px;
                
            }

            &.visible-class {
                & td {background-color: #ccc;}
            }
        }
    }
}